*{
    margin: 0;
    padding: 0;
}

:root {
    --font-family: "Roboto", serif;
    --preto: #111827;
    --branco: #ffffff;
    --botao-azul: #665DF5;
}

body {
    background-color: var(--branco);
    font-family: var(--font-family);
}

.container {
    display: flex;
}

.container-image {
    height: 100vh;
    width: 50vw;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-content {
    display: flex;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 2rem;
}

.form {
    margin: auto;
    width: 25vw;
}

.input-box input {
    display: block;
    width: 100%;
    margin: 8% 0 8% 0;
    padding: 3% 3%;
    border-radius: 7px;
    border: 1px solid var(--preto);
    font-size: 1rem;
}

.login-button {
    width: 26.5vw;
    padding: 8px 16px;
    border-radius: 15px;
    background-color: var(--botao-azul);
    color: var(--branco);
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}

.form-register {
    position: absolute;
    margin-left: 80%;
    margin-top: 3%;
}

.form-register a {
    text-decoration: none;
    font-size: 16px;
}

.form-click {
    margin-top: 5%;
    float: right;
}

.form-click a {
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    .container {
        display: flex;
    }
    .container-image {
        display: none;
    }
    .form-register {
        margin: 2em;
    }
    .form {
        margin-top: 100%;
        width: 100%;
    }
    .login-button {
        width: 100%;
    }
}